#main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 43pt;
  color: #b7410e;
  text-shadow: 3px 3px 5px #b3b3b3;
  margin-left: 40px;
  margin-bottom: 0px;
  text-align: center;
  width: 550px;
}

h2 {
  font-family: sans-serif;
  color: #b7410e;
  font-weight: 900;
  text-shadow: 3px 3px 3px #b3b3b3;
  font-size: xx-large;
  transform: scale(0.9, 1);
  margin-bottom: -10px;
}

.card {
  font-family: sans-serif;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: inset;
  border-left-color: #b7410e;
  border-top-color: #b7410e;
  border-right-color: #f0d9ce;
  border-bottom-color: #f0d9ce;
  border-left-width: 5px;
  border-top-width: 5px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  background: linear-gradient(0.25turn, #e2b39e, #e9c6b6, #f0d9ce);
  color: #d38d6e;
  background-color: #f0d9ce;
  margin-bottom: 40px;
  margin-left: 20px;
  text-align: center;
  width: 550px;
  border-radius: 15px;
  box-shadow: 6px 6px 10px #cccccc;
}

.description {
  color: black;
}

button {
  margin-bottom: 8px;
  background-color: yellow;
  border-color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: medium;
  font-weight: bolder;
  background-color: #b3b3b3;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: gold;
}

#main-para {
  margin-left: 20px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18pt;
  font-weight: bolder;
  text-align: center;
  width: 600px;
  margin-bottom: 20px;
  transform: scale(0.9, 1);
}

span {
  font-size: 15pt;
  font-style: italic;
  font-family: sans-serif;
  font-weight: bolder;
  color: green;
}

.old-price {
  font-family: sans-serif;
  font-weight: 500;
  font-style: italic;
}